
.menu-wrapper {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background: var(--primary-color);
  z-index: 10000;
  position: fixed;
  left: 0;
  min-height: 100vh;
  width: 20%;
}

.menu-wrapper > h2 {
  text-align: center;
  font-family: "Pacifico", cursive;
  color: white;
  text-shadow: 0.8px 0.8px 0.8px black;
  cursor: pointer;
}

.menu-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.menu-item, .menu-item > a {
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
  text-align: center;
  text-shadow: 1px 1px 1px black;
  cursor: pointer;
  margin-top: 10%;
  font-weight: 600;
}
